*{box-sizing:border-box;}
html,body,#app,.page-view{
  background:#ddd;
	height:100%;width:100%;overflow:hidden;position:relative;
  color:#fff;
}

.child-view {
  position: absolute;
  width:100%;
  transition: all .8s cubic-bezier(.55,0,.1,1);
}
.slide-left-enter, .slide-right-leave-active {
  opacity: 0;
  -webkit-transform: translate(50px, 0);
  transform: translate(50px, 0);
}
.slide-left-leave-active, .slide-right-enter {
  opacity: 0;
  -webkit-transform: translate(-50px, 0);
  transform: translate(-50px, 0);
}

/* the footer tab bar */
.tab-bar{
	height:120px;width:100%;background:#fff;position:fixed;bottom:0;left:0;right:0;width:100%;
  ul{display:flex;justify-content:space-around;align-items:center;height:100%;}
  .tab-bar-item{padding:0 40px;text-align:center;color:#636363;}
  .tab-bar-item.active{color:#24b8e4;}
  .tab-bar-item_Text{display:block;}
}

/* home */
.home{
  height:100%;
  background:#111;
  .home-content{width:100%;position:absolute;top:0;left:0;right:0;bottom:120px;}
}

.swiper-main{
  height:100%;
  .swiper-content {
    box-sizing: border-box;padding: 10px 0;
    .swiper-slide {width:100% !important;height: 100%;opacity: 0.1;}
    .swiper-slide-active {opacity: 1;}
  }
}
.swiper-container{
  height:100%;
}
.swiper-box{
  width:100%;height:100%;
}


.pictoral{
  position: absolute;top:8%;bottom:8%;left:0;right:0;
  .swiper-container {
    height:100%;
  }
  .pictoral-item{
    width:80%;height:100%;margin-left:10%;padding:10px 15px;background:#fff;color:#333;border-radius:3px;text-align:center;
    h6{font-size:30px;text-align:center;margin:20px;}
    img{width:auto;height:80%;margin:0 auto;}
    p{font-size:26px;color:#aaa;text-align:right;padding:20px;}
  }
}

.things{
    position: relative;width:100%;height:100%;
    .things-nav{
      height:80px;line-height:80px;text-align:center;
        .swiper-slide-active {color:#fff;}
        .swiper-slide-active::after{content: " ";display: block;width: 60%;height: 1px;background: #fff;position: absolute;bottom: 0;left: 20%;z-index: 999;}
    }
    .things-main{
      position: absolute;left:0;right:0;top:80px;bottom:0;background:#ccc;overflow:auto;
    }
}


// 下拉刷新插件
._v-content{
  height:100%;
}
// loading 效果
.spinner{
    display: inline-block;width:20px;height: 20px;border:1px solid #fff;
    animation: loadMore 1s ease infinite;
  }
  @keyframes loadMore{
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
  }